body{background-color: grey};

.movie-container{
    position: relative;
    max-width:max-content;
}
.movie-container img{
    width: fit-content;
}

.details{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    max-height: 50%;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:10%;
    
}
.rating{
    position: absolute;
    top: 0;
    left: 5%;

}
.button{
    color: black;
    background-color: white;
    z-index: 999;
}