@use "variables" as *;
.nav-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $headerBackgroundColor;
    flex-wrap: wrap;
    
    
    button{
        background: none;
        border: none;
        font-size: 1.2rem;
        flex: 1 1 calc(25% - 50%); 
        margin: 5px; 
        box-sizing: border-box; 
        
    }
}
@media (max-width:450px){
    button{
        flex: 1 1 calc(50% - 10px);
    }
}