@use "variables" as *;
// movies catogery flex box
.nav-middle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $headerBackgroundColor;
    flex-wrap: wrap;
   
    
    
    button{
        background: none;
        border: none;
        font-size: 1.2rem;
        flex: 1 1 calc(25% - 50%); 
        margin: 5px; 
        box-sizing: border-box; 
        cursor: pointer;
        
    }

}
// make flex box only show two per row.
@media (max-width:450px){
    button{
        flex: 1 1 calc(50% - 10px);
    }
}