// colors
$backgroundColor : #333333 ;
$headerBackgroundColor : #787878;
// font colors
$navFontColors : #ffffff;
$movieTitleColors : #C0C197;
$movieDescriptionColors : #D9D9D9;
$castNameColor : #F9D2FF;
