@use '../components/variables' as *;

.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem ;
}

.cast-item {
    .cast-name{
        color: $castNameColor;
        background-color: red;
    }
}


