@use '../components/variables' as *;

body {
    color: white;
}

.backdrop-image {
    width: 100%;
        height: 80%;
        margin-bottom: 1rem;
        display: none;

}

.poster-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.poster-image {
    margin: 2rem;
}

.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-release-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem ;
    display: flex;
    align-items: center;
    flex-direction: column;
  
}

h2{
    font-size: 1.5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.genre-container {
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
}
.movie-genre {
    
    list-style: none;

}


.movie-videos {
    iframe{
        width: 100%;
        height: 40vh;
    }
}

.movie-date {
    font-size: 1rem;
}



.cast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // overflow-x: auto;
    padding: 1rem 0;
    
    
    .cast-name {
        color: $castNameColor;
    }
    
    .actor-image {
        flex: 1 0 calc(20% - 10px);
        height: 65%;
        
        
    }

    .placeholder {
        background-color: lightgray;
    }
    
}

@media screen and (min-width:48rem){
    .backdrop-image{
        width: 700px;
        height: auto;
        margin-bottom: 1rem;
        display: block;
        object-fit: contain;
        position: relative;
        
    }
    
    .movie-videos {
        iframe{
            width: 50%;
            height: 100%;
        }
    }
    
    
    .poster-container{
        align-items: flex-start;
        position: absolute;
        left: 0;
        z-index: 1;
        
    }
    
    .actor-image{
        width: 20%;
        height: 30%;
        flex: 0 0 calc(20% - 10px); ;
    }
    
    h2 {
        align-items: flex-start;
    }
    
    h1 {
        justify-content: center;
    }
    
    .movie-overview {
       line-height: 1.5;
       padding: 1rem;
       margin: 2rem;
      word-wrap: break-all;
      
    }
}


